[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[LayoutSettings]
activities={0}
backgroundStyle=0
color=blue
customBackground=
customTextColor=
disableBordersForMaximizedWindows=false
icon=
lastUsedActivity=2d107ac1-64ea-4bae-ba82-0bfdd0839f2a
launchers=
popUpMargin=-1
preferredForShortcutsTouched=false
schemeFile=
showInMenu=true
version=2
